---
system_timezone: America/New_York

# GPSd configuration.
gpsd_state: started
gpsd_enabled: true
gpsd_devices: "/dev/ttyS7"
gpsd_baud: "115200"
gpsd_options: "-s {{ gpsd_baud }} -n"

# Refclock to be used as a time source.
# See: https://chrony-project.org/doc/3.4/chrony.conf.html#refclock
chrony_refclock: |
  # Uncomment to use Timecard PHC as time source.
  refclock PHC /dev/ptp3 poll 0 refid AC precision 1e-9 tai prefer

  # Uncomment to use NIC's PHC as time source.
  # refclock PHC /dev/ptp0 poll 0 dpoll -5 tai  # Use NIC's PHC

  # Uncomment to use GPS module directly as time source.
  #refclock SHM 0 refid NMEA precision 1e-3 poll 0 filter 3

  # Uncomment to use PPS source (e.g. GPS PPS to GPIO pin 18)
  #refclock PPS /dev/pps0 refid PPS lock NMEA poll 3 trust

  # Uncomment to log timing statistics.
  #log tracking measurements statistics

# Hosts allowed to query chrony for NTP time.
# See: https://chrony-project.org/doc/3.4/chrony.conf.html#allow
chrony_allow: "10.1.0.0/16"

# NTP upstream servers
chrony_servers:
  - clock.nyc.he.net
  - tick.usno.navy.mil
  - tock.usno.navy.mil
  - time-a-g.nist.gov

chrony_server_options: iburst

# PTP 4 Linux options.
ptp4l_ptp_iface: enp1s0
ptp4l_service_state: stopped
ptp4l_service_enabled: false

ts2phc_service_state: stopped
ts2phc_service_enabled: false
ts2phc_logging_level: 7
ts2phc_clock: '/dev/ptp3'
ts2phc_source: 'generic'
ts2phc_extra_opts: '-m'

phc2sys_service_state: stopped
phc2sys_service_enabled: false
phc2sys_clock: 'CLOCK_REALTIME'
phc2sys_source: '/dev/ptp3'
phc2sys_extra_opts: '-m'

## Kernel build for Ubuntu
# defaults file for kernel

kernel_version: "6.12.56"
kernel_build_location: /tmp
kernel_parameters:
  - name: CONFIG_SMP
    value: y
  - name: CONFIG_I2C_XILINX
    value: m
  - name: CONFIG_MTD
    value: y
  - name: CONFIG_MTD_SPI_NOR
    value: m
  - name: CONFIG_SPI
    value: y
  - name: CONFIG_SPI_ALTERA
    value: m
  - name: CONFIG_SPI_BITBANG
    value: m
  - name: CONFIG_SPI_MASTER
    value: y
  - name: CONFIG_SPI_MEM
    value: y
  - name: CONFIG_SPI_XILINX
    value: m
  - name: CONFIG_I2C
    value: y
  - name: CONFIG_I2C_OCORES
    value: m
  - name: CONFIG_IKCONFIG
    value: y
  - name: CONFIG_EEPROM_AT24
    value: m
  - name: CONFIG_DEBUG_INFO_BTF
    value: n
  - name: CONFIG_PTP_INTEL_PMC_TGPIO
    value: y
  - name: CONFIG_PCIE_PTM
    value: y
  - name: CONFIG_SYSTEM_TRUSTED_KEYS
    value: '""'
  - name: CONFIG_SYSTEM_REVOCATION_KEYS
    value: '""'

# vars file for kernel
kernel_unarchive_src: "https://cdn.kernel.org/pub/linux/kernel/v{{ kernel_version[:1] }}.x/linux-{{ kernel_version }}.tar.xz"
kernel_unarchive_creates: "{{ kernel_build_location }}/linux-{{ kernel_version }}"
kernel_requirements:
  - bc
  - bison
  - flex
  - libelf-dev
  - libssl-dev
  - libncurses-dev
  - openssl
  - vim
  - dkms
  - libudev-dev
  - libpci-dev
  - libiberty-dev
  - autoconf
  - zstd
kernel_modules_location: /lib/modules/{{ kernel_version }}*
kernel_installation_location: /boot/vmlinuz-{{ kernel_version }}*